@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Noto+Sans&family=Nunito+Sans&family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.App {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.done {
  text-decoration: line-through;
  opacity: 0.5;
}

h1 {
  margin: 20px 0;
}

ul {
  display: flex;
  margin: 10px 0;
  border-bottom: 1px solid grey;
}

.active {
  border-bottom: 3px solid #2F80ED;
}

li {
  margin: 0 50px;
  padding: 10px 0;
  list-style: none;
  border-bottom : 3px solid transparent;
}


li:hover {
  border-bottom: 3px solid #2F80ED;
}

.input {
  width: 250px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
}

.add_btn {
  width: 45px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: #2F80ED;
  color: white;
  margin-left: 10px;
}

form {
  margin-bottom: 30px;
}

.todos {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-100px);
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.todo > input {
  width: 20px;
  margin-right: 10px;
}

p {
  font-weight: 600;
  opacity: 0.8;
}

.Completedtodos {
  width: 300px;
  display: flex;
  flex-direction: column;
  transform: translate(-10px);
}

.Completedtodos img {
  width: 20px;
  opacity: 0.6;
}

.delete_btn {
  margin-top: 50px;
  color: white;
  border: none;
  transform: translate(250px);
  width: 100px;
  height: 35px;
  background: #EB5757;
  border-radius: 4px;
}

.todo > div {
  display: flex;
  align-items: center;
}

.todo > div > p {
  margin-left: 10px;
}

button:hover, img:hover {
  cursor: pointer;
}